/* Existing styles from your style.css */
body {
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
    margin-top: 12px;
    font-family: 'Public Sans', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 480px;
    text-align: left;
    
}

.container h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    margin: 2rem 0;
    line-height: 4rem;
}

.container p {
    font-size: 1rem;
    color: rgb(70, 70, 70);
    margin-block-end: 2rem;
    margin-block-start: 2rem;
}

.button {
    width: calc(100%-36px);
    padding: 0.75rem;
    margin-top: 1rem;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    text-align: left;
    
}

.button h2 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.1rem,0;
    margin-block-end: 0.1rem;
    margin-block-start: 0.1rem;
   
}

.button p {
    margin-block-end: 0.2rem;
    margin-block-start: 0.2rem;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

.button:hover {
    background-color: #f0f0f0;
}

.break {
    margin-bottom: 25px;
}

li {
    color: rgb(70, 70, 70);
}

.discurso p {
    text-align: justify;
    margin-block-start: 0.5rem;
}

.autor p {
    font-size: 1rem;
    color: rgb(128, 128, 128);
    margin-block-end: 0;
    margin-block-start: 0;
}

/* Added media query */
@media (max-width: 520px) {
    .container {
        width: 100%;
        margin-left: 18px;
        margin-right: 18px;
    }

    .container h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .container p {
        font-size: 0.9rem;
        margin-block-end: 1rem;
        margin-block-start: 1rem;
    }

    .container h1 {
        margin: 1rem 0;
    }

    li {
        font-size: 0.9rem;
    }
    
    .button p {
            margin-block-end: 0.2rem;
            margin-block-start: 0.2rem;
    }
}
